.last-section {
    width: 100%;
    margin-bottom: 30px;
}
.main-question__section{
    transform: translateX(-1000px);
    transition: transform 1s ease-in-out;
}
.visible {
    transform: translateX(0);
}
.main-question__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
.main-question__tittle {
    width: 500px;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 16px;

    letter-spacing: 4px;
    font-size: 20px;
    text-align: center;

    padding: 5px 11px 5px 11px;
}
.main-question__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.question-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

    border-radius: 16px;
    gap: 20px;
    color: #ffffff;
}
.question-item__title {
    height: 150px;
    width: 150px;
    margin-top: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
.question-item__body {
    font-size: 16px;
    letter-spacing: 1px;
    text-align: center;
    color: #d4d4d4;
}
.contact-block__body {
    width: 100%;
    margin: 30px 0 15px 0;

    display: flex;
    justify-content: center;
}
.contact-block__btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    color: inherit;
    text-decoration: none;
    cursor: pointer;

    font-size: 14px;
    letter-spacing: 5px;

    width: 300px;
    height: 50px;
    padding: 5px 11px 5px 11px;
    border-radius: 10px;

    background: #005cb3;
    transition: background-color 0.3s ease;
}
.contact-block__btn:hover{
    opacity: 0.75;
    background-color: #3a3a3a;
}

@media screen and (max-width: 600px) {
    .main-question__tittle{
        width: 280px;
        font-size: 16px;
    }
}
@media screen and (max-width: 440px) {
    .question-list__item {
        width: 300px;
    }
}