.contact__main-block {
    max-width: 600px;
    padding: 100px 40px 0 40px;
    margin-bottom: 40px;
    gap: 25px;

    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    align-self: center;
}

.contact__talk-container {
    display: flex;
    flex-direction: column;
}

.contact__talk-container > h3 {
    font-size: 2.25em;
    line-height: 2.5rem;
    margin: 30px 0 0;
}
.contact__talk-container > p {
    color: #b9b9b9;
    margin: 12px 0 0;
    line-height: 1.3em;
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 300;
}
.contact__form-body {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
}
.form__label {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.form__label span{
    font-size: 0.80rem;
    color: #d4d4d4;
}

.form__control {
    min-height: 3.5rem;
    max-width: 100%;
    padding: 10px 16px;

    font-size: 1rem;
    font-family: Arial, sans-serif;
    color: #c1c1c1;

    background-color: #1c1c1c;
    border: none;
    border-radius: 8px;

    outline: none;
    transition: all 0.3s ease;
}
.textarea {
    resize: none;
}
.error {
    color: tomato;
    border:1px solid tomato;
}
.form__btn {
    display: block;
    text-align: center;
    border: none;
    border-radius: 10px;

    margin-top: 20px;
    width: 100%;
    padding: 15px 20px;

    font-size: 1em;
    line-height: 1.3em;
    font-weight: 400;
    color: #ffffff;
    background-color:  #005cb3;

    cursor: pointer;
    transition: background-color 0.3s ease;
}
.form__btn:hover {
    color: #d4d4d4;
    background-color: #3c3c49;
}
.form__btn:disabled {
    opacity: 0.35;
    background-color: #3c3c49;
    cursor: default;
}

@media (max-width: 720px) {
    .contact__main-block {
        padding: 100px 20px 0 20px;
    }
}
