.main-name-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: start;
    padding-top: 50px;
}

.name-container{
    font-family: Louis George Caf, sans-serif;
    font-size: 40px;
    letter-spacing: 10px;
    white-space: nowrap;
    display: flex;
    gap: 16px;
    align-items: start;
    flex-direction: column;
}
.name-container-position{
    color: #005cb3;
    font-family: Louis George Caf, sans-serif;
    font-size: 26px;
    letter-spacing: 4px;
    margin-bottom: min(6.6vh, 70px);
    white-space: nowrap;
}

@media screen and (max-width: 800px) {
    .main-name-container{
        width: 100%;
        padding-top: 0;
    }
    .name-container{
        font-size: clamp(20px, 4vw, 40px);
    }
    .name-container-position{
        font-size: clamp(15px, 4vw, 40px)
    }
}