.main-name-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: start;
    padding-top: 50px;
}

.name-container{
    font-size: clamp(64px,5vw,98px);
    letter-spacing: 10px;
    white-space: nowrap;
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 100%;
}
.name-container-position{
    width: 100%;
    color: #005cb3;
    font-size: 26px;
    letter-spacing: 4px;
    margin-bottom: min(6.6vh, 20px);
    white-space: nowrap;
}

@media screen and (max-width: 850px) {
    .main-name-container{
        width: 100%;
        padding-top: 0;
    }
    .name-container{
        font-size: 42px;
        margin-bottom: 10px;
    }
    .name-container-position{
        font-size: 21px;
        margin-bottom: 20px;
    }
}