.Preloader-container {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3vh;
    background-color: #005cb3;
    z-index: 100;
    animation: slideInOut 0.5s ease forwards, slideOut 0.5s ease forwards 0.5s, slideGoUp 0.5s ease forwards 1s;;
}

@keyframes slideInOut {
    from {
        width: 0;
    }
    to {
        width: 200vw;
    }
}

@keyframes slideOut {
    from {
        height: 5vh;
    }
    to {
        height: 100vh;
    }
}
@keyframes slideGoUp {
    from {
        transform: translateX(-50%) translateY(0);
    }
    to {
        transform: translateX(-50%) translateY(-100%);
    }
}