.first-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 90px;
}
.first-section > * {
    flex: 1 1 calc(50% - 10px);
    box-sizing: border-box;
}

.info-block {
    padding-top: 10vh;
    width: 50%;

}

.title-block {
    display: inline-block;
    width: fit-content;
}
.title-block h1{
    font-size: 2em;
    letter-spacing: 10px;
    font-family: monospace;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(17), cursor .4s step-end alternate;
}
.title-block h3{
    font-family: monospace;
    font-size: 1em;
    color: #005cb3;
    width: 100%;
    letter-spacing: 5px;
    opacity: 0;
    animation: fade-in 2s 2s forwards;
}

.body-block h3{
    font-family: monospace;
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
    opacity: 0;
    animation: fade-in 3s 3s forwards;
    color: #d4d4d4;
}
.tech-stack-block {
    display: flex;
    flex-direction: column;

    font-family: monospace;
    letter-spacing: 1px;
    opacity: 0;
    animation: fade-in 3s 3s forwards;
}
.tech-stack-title{
    letter-spacing: 5px;
    font-size: 1.5em;
    margin-bottom: 0;
}
.tech-stack-description {
    font-size: 1em;
    color: #d4d4d4;
}

.globe-block {
    width: 100%;
    height: fit-content;
    background: #1e1e1e;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    animation: fade-in 3s 3s forwards;
}
.globe-description {
    font-family: monospace;
}
.globe-description h3{
    font-size: 1em;
    color: #d4d4d4;
}

@keyframes cursor {
    50% {border-color:transparent}
}
@keyframes typing {
    from {width: 0}
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



@media screen and (max-width: 1024px) {
    .info-block{
        width: 100%;
        padding-top: 5vh;
    }
}
@media screen and (max-width: 900px) {
    .info-block {
        padding-top: 10px;
    }
    .globe-block {
        display: flex;
        flex-direction: column-reverse;
        padding: 0 20px 10px 20px;
    }
}
@media screen and (max-height: 650px) {
    .info-block {
        padding-top: 0;
    }
}

@media screen and (max-width: 500px) {
    .first-section {
        gap: 5px;
        margin-bottom: 40px;
    }
    .title-block h1{
        font-size: 24px;
        letter-spacing: 5px;
    }
    .globe-block {
        margin-top: 5vh;
    }
    .body-block {
        font-size: 12px;
    }
}
@media screen and (max-width: 380px) {
    .title-block h1{
        font-size: 16px;
    }
    .title-block h3{
        font-size: 12px;
    }
    .info-block{
        padding-top: 0;
    }
}
